::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent,#ff00ea);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent,#d4103a);
}
*{
  margin: 0;
  padding: 0;
}
